  
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="icon" href="../img/calculator_icon-icons.com_72046.ico">
      <title>Sala de chat publica</title>
</head>
<body>
  <style>
    body{
        background-color: lightgrey;
    }
    *{
        padding : 0px;
        margin : 0px;
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    } 
  </style>
  <header>
    <br>
    <center>
      <h3 class="text-lowercase">Public Chat Cafe...</h3>
    </center>
    <br>
  </header>
  <div class="container p-2 col-xs col-sm col-md">
    <center>
      <div id="presentacion" class="col-xs col-sm col-md col-form-label bg-info font-weight-bold">Bienvenido ${salida}!</div>
    </center>
      <ul>
        <li class="list-group-item list-group-item-dark">
          <div>
            <ul class="list-group" id="mensajes"></ul>
          </div>
        </li>
      </ul>
    <br>
    <br>
    <div class="input-group mb-3 col-xs col-sm col-md">
      <div class="input-group-prepend">
          <Label class="input-group-text" id="comandoL">Escriba:</Label>
      </div>
      <Input name="textbox" id="chat" class="form-control" aria-label="Ingresar Comando:" aria-describedby="inputGroup-sizing-default" type="text">
      <button id="enviar" type="submit" class="btn btn-success">Enviar</button>
    </div>
  </div>
  <br>
  <Form action = "/" method = "GET">
    <center>
      <button id="Desconectarse" type="submit" class="btn btn-danger">Desconectarse</button>
    </center>
  </Form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">
    var socket = io();
    document.getElementById("enviar").addEventListener("click", n1);
    document.getElementById("Desconectarse").addEventListener("click", n2);

      function n1() {
        var a = document.getElementById('presentacion').innerHTML
        a = a.replace("Bienvenido ", "");
        a = a.replace("!", "");
        socket.emit('nuevoMensaje', {text: chat.value, timestamp: new Date(), salida: a});
        chat.value = ""
      }

      function n2() {
        var a = document.getElementById('presentacion').innerHTML
        a = a.replace("Bienvenido ", "");
        a = a.replace("!", "");
        socket.emit('usuarioDesconexion', {timestamp: new Date(), salida: a});
      }

    socket.on('nuevoMensaje', (data) => {
        $('#mensajes').append($('<li>').text(data.salida + ": " + data.text +  " ||    " + data.timestamp));
    })
    socket.on('nuevoUsuarioConectado', (data) => {
        $('#mensajes').append($('<li>').text(data.salida + " se ha conectado." +  " ||    " + data.timestamp));
    })
    socket.on('usuarioDesconexion', (data) => {
        $('#mensajes').append($('<li>').text(data.salida + " se ha desconectado." +  " ||    " + data.timestamp));
    })

  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>